@model proyectofinal.salidabus

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>salidabus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bus1.pantente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bus1.pantente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad.ciudad1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad.ciudad1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad1.ciudad1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad1.ciudad1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pasaje.nombrepasajero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pasaje.nombrepasajero)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
