@model proyectofinal.salidabus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>salidabus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bus1.pantente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bus1.pantente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad.ciudad1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad.ciudad1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad1.ciudad1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad1.ciudad1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pasaje.nombrepasajero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pasaje.nombrepasajero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idsalida }) |
    @Html.ActionLink("Back to List", "Index")
</p>
