@model proyectofinal.asientos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>asientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.asientonumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asientonumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bus.pantente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bus.pantente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idasiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
